.question-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 700px;
    margin: auto;
    width: 60%;
    border-radius: 10rem;
    border-width: 3px;
    box-shadow: 0 0 20px #000000;
  }
  
  .quiz-app-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3px;
    left: 39%; 
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .quiz-app-letter {
    color:#fff;
    text-shadow:10px 0 25px #a07070;
    animation: quiz-app-animation 5s infinite;
  }
  
  @keyframes quiz-app-animation{
    0%,
    100%{
      text-shadow:-10px 10px 25px #a07070;
    }
    25%{
      text-shadow:-10px -10px 25px #a07070;
    }
    50%{
      text-shadow:10px -10px 25px #a07070;
    }
    75%{
      text-shadow: 10px 10px 25px #a07070;
    }
  }