.results{
    width: 60%;
    margin:auto ;
    padding: 4rem;
    border-radius: 10rem;
    box-shadow: 0 0 20px #fff;
    margin-bottom: 10rem;

}
.result-info{
    display: flex;
    width: 60%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.result-info h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 2rem;
}

.result-content *{
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.result-content {
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border-radius: 5rem;
}

.result-answers{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.result-item{
    margin-bottom: 0.6rem;
}

.try-again-button{
    border: none;
    font-size: 40px;
    padding: 1rem 6rem;
    background-color:#000000;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 20px #a07070;
}